*,
*::before,
*::after{
  box-sizing: border-box;
}

html,body{
  font-family: "Karla", sans-serif;
  background-image: url(./assets/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color:#293264;
  height: 100vh;
  padding:0;
  margin: 0;
}

#root:has(header){
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*typography*/
.title{
  margin: 0;
  font-size: 2rem;
}

.sub-title{
  margin: 0.4rem 0 1.75rem ;
}

/*buttons*/
.start-quiz-btn{
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color:white;
  background-color:#4c5a9c;
  padding:0.5em 1em;
  border: none;
  border-radius: 5px;
  width: 65%;
  cursor: pointer;
}

.start-quiz-btn:active{
  position: relative;
  top:1px;
}

/*layout*/
header{
  text-align: center;
  width: 320px;
}


/*trivia layout*/

.trivia-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 550px;
  margin:0 auto;
  /* border:1px solid red; */
  padding:2.2em 4.7em;
}

.trivia{
  width: 100%;
  /* border: 1px solid green; */
  border-bottom: 1px solid #DBDEF0;
}

.question{
  font-weight: 700;
  margin-bottom: 0.75em;
  
}

input[type='radio']{
  display: none;
}

label{
  display: inline-block;
  font-size: 0.75rem;
  padding:0.5em 1em;
  font-weight: 600;
  border-radius: 10px ;
  border: 1px solid #4D5B9E;
  margin:0 0.75rem 1rem 0 ;
  user-select: none;
  
}

.selected-answer{
  background-color: #D6DBF5;
}

.correct-answer{
  background-color: #94D7A2;
}

.wrong-answer{
  background-color: #F8BCBC;
}

label:active{
  position: relative;
  top:2px;
}

.check-answers-btn,
.play-again-btn{
  font-family: inherit;
  font-weight: 600;
  color:#F5F7FB;
  background-color:#4D5B9E ;
  font-size: 0.75rem;
  padding:0.8em 1.5em;
  border-radius: 5px;
  margin-top: 1.25rem;
  border: none;
  box-shadow: 2px 2px #353E69;
}

.check-answers-btn:active
.play-again-btn:active{
  position: relative;
  top:2px;
  box-shadow: none;
}